<div ng-controller="ApiController">
    <div class="container">
        <div ng-hide="!has.error">
            <div class="alert alert-danger">
                {{ has.message }}
            </div>
        </div>
        <div ng-if="dataToShow.length > 0">
            <table class="table table-stripped table-condensed">
                <thead>
                </thead>
                <tbody>
                <tr ng-repeat="d in dataToShow">
                    <td>
                        {{ d.id }}
                    </td>
                    <td>
                        {{ d.first_name }}
                    </td>
                    <td>
                        {{ d.last_name }}
                    </td>
                    <td>
                        <img src="{{ d.avatar }}" alt=""/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="dataToShow.length === 0">
            <div class="alert alert-danger">No Data</div>
        </div>
        <ul class="list-inline">
            <li ng-repeat="i in pages track by $index">
                <button class="btn btn-primary" ng-click="showPerPage($index + 1)">
                    {{ $index + 1 }}
                </button>
            </li>
        </ul>
    </div>
</div>