<div ng-controller="SecondQuestionController">
    <div class="container">
        <div ng-if="error">
            <div class="alert alert-danger">
                {{ error }}
            </div>
        </div>
        <form  method="post" ng-submit="submit()" enctype="application/x-www-form-urlencoded">
            <div class="form-troup">
                <label>Tarefa</label>
                <input type="text" class="form-control" ng-model="task.description" required/>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" ng-model="task.status" required>
                    <option value="{{ s }}" ng-repeat="s in task.status">{{ s }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <div>
            <div class="panel" ng-class="{'panel-danger': task.status == 'pendente', 'panel-success disabled': task.status == 'concluida'}"  ng-repeat="(index, task) in taskList | orderBy: 'status':true ">
                <div class="panel-body">
                    <div ng-if="task.status == 'pendente'">
                        <div class="alert alert-danger text-center">
                            <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i> Pendência
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-1">{{ index + 1 }}</div>
                        <div class="col-md-3">{{ task.description }}</div>
                        <div class="col-md-3">{{ task.status }}</div>
                        <div class="col-md-3">{{ task.createdAt  | date: 'dd/MM/yyyy'  }}</div>
                        <div class="col-md-2">
                            <button class="btn btn-danger btn-block" ng-click="remove(task._id)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>